@import "./tailwind-base.css";
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#__next {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#__next > main {
  flex: 1;
}

img.alignleft {
  width: unset;
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
