@import "./tailwind-base.css";
@tailwind components;
@tailwind utilities;

#__next {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#__next > main {
  flex: 1;
}

img.alignleft {
  width: unset;
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
