.page-heading {
  @apply text-amber-400;
  padding-top: 2rem;
  padding-bottom: 20vw;
  background-image: linear-gradient(
    125deg,
    rgba(85, 0, 101, 0.5),
    rgba(65, 0, 103, 0.08)
  );
  mask: url("/images/mask-wave-bottom-mobile.svg") bottom/contain no-repeat,
    linear-gradient(#fff 0 0);
  -webkit-mask: url("/images/mask-wave-bottom-mobile.svg") bottom/contain
      no-repeat,
    linear-gradient(#fff 0 0);
  mask-composite: destination-out;
  -webkit-mask-composite: destination-out;

  @media (min-width: 768px) {
    padding-top: 3rem;
    padding-bottom: 8%;
    mask-image: url("/images/mask-wave-bottom-desktop.svg"),
      linear-gradient(#fff 0 0);
    -webkit-mask-image: url("/images/mask-wave-bottom-desktop.svg"),
      linear-gradient(#fff 0 0);
    mask-repeat: repeat-x;
    mask-size: 50vw;
    -webkit-mask-size: 50vw;
  }
}
