.header {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  nav {
    margin-left: 20px;
    ul {
      list-style: none;
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
    }
  }
}
