.ufo-scene-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @media (min-width: 1024px) {
    margin: 0 auto;
  }
}

.ufo-scene {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.ufo__svg {
  position: relative;
  width: 75%;
  z-index: 1;

  @media (min-width: 768px) {
    width: 100%;
  }
}

.cls-1 {
  fill: #fabe24;
}

.cls-2,
.cls-3 {
  fill: #fff;
}

.cls-4 {
  fill: #ac7700;
}

.cls-5 {
  fill: #409234;
}

.cls-6 {
  fill: #1a5606;
}

.cls-7 {
  fill: #5f9a4e;
}

.cls-8 {
  fill: #4f7244;
}

.cls-9 {
  opacity: 0.25;
}

.cls-3 {
  opacity: 0.28;
}

.ufo__beam {
  flex: 1;
  width: 50%;
  transform: scale(1.4);

  @media (min-width: 768px) {
    width: unset;
    overflow: visible;
  }
}

.ufo__cow {
  position: absolute;
  bottom: 15%;
  height: 10%;
  min-height: 0%;
  width: auto;
  z-index: -1;

  @media (min-width: 768px) {
    bottom: 25%;
  }
}

.floating {
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

.floating-cow {
  animation-name: floating-cow;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating-cow {
  0% {
    transform: translate(0px, -10px) rotate(-10deg);
  }
  50% {
    transform: translate(0px, -30px) rotate(20deg);
  }
  100% {
    transform: translate(0px, -10px) rotate(-10deg);
  }
}
