.ufo-scene-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

@media (min-width: 1024px) {
  .ufo-scene-wrapper {
    width: 75%;
    margin: 0 auto;
  }
}

@media (min-width: 1280px) {
  .ufo-scene-wrapper {
    width: 50%;
  }
}

.ufo-scene {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.ufo__svg {
  position: relative;
  z-index: 1;
  height: 40%;
}

.cls-1 {
  fill: #fabe24;
}
.cls-2,
.cls-3 {
  fill: #fff;
}
.cls-4 {
  fill: #ac7700;
}
.cls-5 {
  fill: #409234;
}
.cls-6 {
  fill: #1a5606;
}
.cls-7 {
  fill: #5f9a4e;
}
.cls-8 {
  fill: #4f7244;
}
.cls-9 {
  opacity: 0.25;
}
.cls-3 {
  opacity: 0.28;
}

@media (min-width: 768px) {
  .ufo__svg {
    height: unset;
  }
}

.ufo__beam {
  margin-top: -5px;
}

.ufo__cow {
  position: absolute;
  bottom: 25%;
  height: 10%;
  width: auto;
}

.floating {
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

.floating-cow {
  animation-name: floating-cow;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating-cow {
  0% {
    transform: translate(0px, -10px) rotate(-10deg);
  }
  50% {
    transform: translate(0px, -30px) rotate(20deg);
  }
  100% {
    transform: translate(0px, -10px) rotate(-10deg);
  }
}
